.card {
    margin: 1rem .5rem;

    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;

    background-color: var(--background-colour);
    padding: 0.5rem 1.5rem;

    border-radius: 4px;
}

.card-content {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
}

.card-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
}

.card-link {
    text-align: right;
    display: block;
}
