footer {
    background-color: var(--background-colour);

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: initial;
    gap: 16px;
    padding: 8px;
}

footer > div:not(:last-child) {
    flex-grow: 1;
}

footer > div:last-child {
    text-align: right;
}
