header {
    width: 100%;

    @media screen and (min-width: 850px) {
        width: 850px;
    }

    margin-left: auto;
    margin-right: auto;
}

.header-content {
    margin: 1.5rem;

    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;

    color: var(--secondary-colour);
}

.arguments > a {
    color: var(--primary-colour);
}

.arguments > a:not(:hover) {
    filter: brightness(75%);

    text-decoration: none;
}

.header-active:not(:hover) {
    filter: none !important;
}
