@font-face {
    font-family: 'Cascadia Mono';

    src: url('/assets/fonts/CascadiaMono/CascadiaMono-Regular.eot');
    src: url('/assets/fonts/CascadiaMono/CascadiaMono-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/CascadiaMono/CascadiaMono-Regular.woff2') format('woff2'),
    url('/assets/fonts/CascadiaMono/CascadiaMono-Regular.woff') format('woff'),
    url('/assets/fonts/CascadiaMono/CascadiaMono-Variable.ttf') format('truetype'),
    url('/assets/fonts/CascadiaMono/CascadiaMono-Regular.svg#CascadiaMono-Regular') format('svg');
}

:root {
    --primary-colour: #5ab53f;
    --secondary-colour: #d377f0;
}

html {
    background-color: black;
    color: white;

    font-family: 'Cascadia Mono', monospace;
}

ul {
    list-style-type: "- ";
}

a {
    color: var(--primary-colour);
}

a:visited {
    color: var(--secondary-colour);
}

a:hover {
    filter: brightness(150%);
}

a:visited:hover {
    filter: saturate(50%);
}

.content, .breadcrumbs {
    max-width: 850px;

    margin-left: auto;
    margin-right: auto;
}

.breadcrumb {
    margin: 1.5rem;

    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;

    color: var(--secondary-colour);
}
