@font-face {
    font-family: 'Roboto Mono';

    src: url('/assets/fonts/RobotoMono-Regular.eot');
    src: url('/assets/fonts/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/RobotoMono-Regular.woff2') format('woff2'),
    url('/assets/fonts/RobotoMono-Regular.woff') format('woff'),
    url('/assets/fonts/RobotoMono-Regular.ttf') format('truetype'),
    url('/assets/fonts/RobotoMono-Regular.svg#RobotoMono-Regular') format('svg');
}

:root {
    --primary-colour: #5ab53f;
    --secondary-colour: #d377f0;
    --background-colour: #1e1e1e;
}

html, body {
    height: 100%;
    margin: 0;

    background-color: black;
    color: white;

    font-family: 'Roboto Mono', monospace;
}

ul {
    list-style-type: "- ";
}

a {
    color: var(--primary-colour);
}

a:visited {
    color: var(--secondary-colour);
}

a:hover {
    filter: brightness(150%);
}

a:visited:hover {
    filter: saturate(50%);
}

main, header {
    max-width: 850px;

    margin-left: auto;
    margin-right: auto;
}

main {
    flex-grow: 1;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}